:root {
    --qw: 2px;
    --qb: #ede9d3;
    --qf: #e6e0c8;
}

pre {
    padding: 1em;
    overflow-y: auto;
}

*[h] > a {
    opacity: 0.3;
    -webkit-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

blockquote {
    margin: 10px 0;
    overflow: hidden;
    padding: 0 0 0 20px;
    font-weight: 100;
    position: relative;
}

blockquote,
blockquote * {
    color: var(--qf);
}

blockquote:before {
    content: "";
    border-left: var(--qw) solid var(--qb);
    position: absolute;
    bottom: 14px;
    top: 13px;
    left: 0;
}
