:root {
    color-scheme: dark;
}

*,
*::before,
*::after {
    background-color: #262220;
    color: #f9f6e8;
    font-family: Hack, hack, monospace, sans, opensans, sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: auto;
    padding: 2rem;
    max-width: 1200px;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin: 1em;
}

li {
    margin: 0.5em;
}

a {
    text-decoration: none;
    text-shadow: 0px 0px 6px white;
}

.info-bar {
    text-align: center;
}

h1 {
    font-size: 2em;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@media screen and (max-width: 800px) {
    body {
        padding: 1em !important;
    }
}
